<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Nowa wiadomość z formularza kontaktowego:</h1>
    <p>
      Imię: <%= @name %><br/>
      E-mail: <%= @email %><br/>
      Treść wiadomości: <%= @content %><br/>
    </p>    
  </body>
</html>