html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
	background-repeat: no-repeat; position: relative; }

body {
	background: #cfcc85;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
}
.container {
	width: 960px;
	margin: 0 auto;
}


/* Header */
	
.header {
	padding: 30px 40px;
	margin-top: 40px;
	height: 117px;
	background-color: #fff;
	margin-bottom: 30px;
}
.header img {
	height: 57px;
	width: 148px;
	float: left;
}
.header ul {
	float: left;

}
ul.navigation {
	float: right;
	margin-left: 20px;
	padding: 15px 34px 15px 0;
}
ul.navigation li {
	float: left;
	font-size: 14px;
	margin-right: 10px;
	padding: 8px 2px 5px 10px;
	background: url(/assets/sep.png) no-repeat 0 0;
}
ul.navigation li:first-child {
	background-image:none;
}
ul.navigation li a {
	padding: 4px 4px;
	text-decoration: none;
	color: #333;
}
ul.navigation li a:hover {
	border-bottom: solid 1px #51b54e;
}
ul.navigation li.selected {
 /* background image pointer down? */
}
ul.navigation li.selected a {
	background-color: #51b54e;
	color: #fff;
}
ul.navigation li.selected a:hover {
	border: 0;
}
.search {
	position: absolute;
	top: 46px;
	right: 40px;
	width: 36px;
	height: 30px;
	background: url(/assets/sep.png) no-repeat 0 0;
	padding-left: 12px;
}
.search label {
	width: 18px;
	height: 18px;
	background: url(/assets/search.png) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	cursor: pointer;
	top: 4px;
}
.search input {
	display: none;
}

.search.open {
	width: 194px;
	height: 60px;
	background: #fff;
	padding: 0;
	right: 10px;
	top: 44px;
}
.search.open input {
	display: block;
}
.search.open label {
	width: 12px;
	height: 10px;
	background: url(/assets/close.png) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	cursor: pointer;

	position: absolute;
	top: 7px;
	right: 15px;
}
.search.open input[type="text"] {

}
.search.open input[type="submit"] {
	width: 18px;
	height: 18px;
	background: url(/assets/search.png) no-repeat 0 0;
	text-indent: -9999px;
	display: block;
	cursor: pointer;

	position: absolute;
	top: 4px;
	right: 36px;
}




/* Slider */

.roundabout {
	height: 330px;
	clear: both;
	width: 800px;
	margin: 0 auto 30px auto;
	line-height: 20px;
}
.roundabout li {
	width: 520px;
	height: 320px;
	overflow: hidden;
	position: relative;
	background: #fff;
}

.roundabout li img {
	background: rgba(255,255,255,0.5);
	width: 100%;
}
.roundabout li a, 
.roundabout li a:hover  {
	display: block;
	width:100%;
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	border: solid 15px rgba(255,255,255,0.8);
	color: #555;
	opacity: 1;
}
.roundabout li em {
	position: absolute;
	display: inline-block;
	
	background-color: rgba(255,255,255,0.8);
	padding: 8px 12px 0 0;
	bottom: 0px;
}

/* Content */

.content {
	overflow: hidden;
	margin-bottom: 30px;
	line-height: 20px;
}
.content a {
	color: #000;
	border-bottom: solid 1px #5ab5dd;
	text-decoration: none;
}
.content a:hover {
	color: #51b54e;
	border-bottom: solid 1px #00b0da;
	text-decoration: none;
}


/* Content / Main */

h1,
h2 {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 20px;
	clear: both;
}
h1 i,
h2 i {
	display: block;
	width: 23px;
	height: 23px;
	background-color: #5ab5dd;
	float: left;
	margin-right: 10px;
	background-image: url(/assets/icons.jpg);
	background-position: -5px -5px;
}

h1.newsletter i,
h2.newsletter i {
	background-position: -31px -5px;	
}
h1.events i,
h2.events i {
	background-position: -31px -30px;	
}
h1.gallery i,
h2.gallery i {
	background-position: -5px -30px;	
}


.main {
	background-color: #fff;
	float: left;
	width: 659px;
	padding: 30px 40px;
}

h3 {
	margin-bottom: 15px;
}
.content h3 a {
	/* border: 0; */
	font-weight: bold;
	color: #333;
}
p {
	margin-bottom: 10px;
}
.main ul {
	margin-bottom: 10px;
	list-style-type: disc;
	margin-left: 30px;
}
.data {
	padding-top: 5px;
	overflow: hidden;
	padding-bottom: 30px;
}
.data .time i {
	display: block;
	width: 15px;
	height: 15px;
	background: url(/assets/clock.jpg) no-repeat;
	float: left;
	margin-right: 6px;
	top: 3px;
}
.data a {
	float: right;
}


.bottom-more {
	border-top: solid 1px #aaa;
	padding: 15px 0;
}

.pagination {
	border-top: solid 1px #aaa;
	padding: 15px 0;
}

.pagination a,
.pagination span {
	margin-right: 10px;
}
.pagination .selected {
	margin-right: 10px;
	font-weight: bold;
}

.sidebar .bottom-more {
	border: 0;
	padding: 5px 0 15px 0;
}




iframe {
	margin-bottom: 10px;
}

.gallery {
	
}
a.fancybox {
	text-decoration: none;
	border: 0;
}
a.fancybox:hover {
	opacity: 0.8;
	border: 0;
}
.gallery img {
	width: 190px;
	height: auto;
}


strong {
	font-weight: bold;
}





.contact_form {
	margin-top: 20px;
}


.contact_form label, 
.contact_form input,
.contact_form textarea  {
	float: left;
	clear: both;
	margin-bottom: 10px;
}
.contact_form label {
	margin: 0;
	font-weight: bold;
}
.contact_form textarea {
	height: 140px;
}
.contact_form textarea,
.contact_form input[type="text"] {
	width: 300px;
}








/* Content / Sidebar */


.sidebar {
	background-color: #fff;
	float: left;
	margin-left: 1px;
	width: 300px;
	padding: 30px 40px;
}


.bottom-more {
	margin-bottom: 20px;
}

.sidebar .single-event h3 {
	margin-bottom: 0px;
}
.sidebar .single-event p {
	margin-bottom: 0px
}
.sidebar .single-event p.description {
	margin-bottom: 10px
}



.sidebar .gallery {
	overflow: hidden;
}
.sidebar .gallery a {
	float: left;
	width: 100px;
	height: 60px;
	overflow: hidden;
	display: block;
	border: 0;
	margin-right: 10px;
	margin-bottom: 10px;
	background: #5ab5dd;
}
.sidebar .gallery a img {
	width: 100%;
}



input[type="email"],
input[type="text"],
textarea {
	border: solid 1px #aaa;
	line-height: 24px;
	padding: 0 4px;
}

.sidebar div.map {
	overflow: hidden;
	margin-bottom: 20px;
}
.sidebar div.map a {
	border: 0;
}


.sidebar div.newsletter {
	overflow: hidden;
	margin-bottom: 30px;
}
.sidebar .newsletter .email {
	width: 150px;
	float: left;
	border-width: 1px 0 1px 1px;
}
input[type=submit] {
	float: left;
	height: 26px;
	background: #5ab5dd;
	border: 0;
	cursor: pointer;
	top: 2px;
	color: #fff;
}
input[type=submit]:hover {
	background: #00b0da;
}
input[type=submit]:focus {
	background: #5ab5dd;
}
.sidebar .newsletter .button {
	width: 70px;

}
/* Footer */

.footer {
	background-color: #fff;
	padding: 40px;
	margin-bottom: 30px;
	overflow: hidden;
}

.copyright {
	width: 960px;
	margin: 0 auto;
	font-size: 12px;
	margin-bottom: 20px;
	color: #fff;
	margin-top: -10px;
}
.copyright p {
	text-align: center;
}












.footer {
	padding: 10px 20px;
	color: #888;
	font-size: 12px;
}

.p_left,
.p_center,
.p_right {
	float: left;
}

.p_left {
	width: 280px;
}
.p_left img {
	top: 30px;
}
.p_center {
	width: 480px;
	height: 110px;
}
.p_center img {
	position: relative;
	left: -17px;
	top:20px;
}
.p_right {
	width: 160px;
}

.partner {
	float: left;
	width: 25%;
	text-align: center;

}
.partner h3 {
	padding-top:5px;
	margin-bottom: 5px;
}
.partner a{
	
	clear: both;
}
.wfo img {
	top: 7px;
}
.medialny img {
	top: 6px;
}

.header img.english {
	height: 16px;
	width: 25px;
	left: 4px;
	bottom: 1px;
}