<h1 class="gallery">
  <i></i>
  Galeria
</h1>

<% @galleries.each_with_index do |gallery, index| %>
  <h2>
    <%= link_to gallery.name, front_gallery_url(gallery) %>
  </h2>

  <div class="gallery">
    <p>
      <% gallery.photos[0..2].each do |photo| %>
        <%#= link_to( image_tag(photo.photo.small.url, :alt => photo.title, :title => photo.title), photo.photo.url, :class => 'fancybox', 'data-fancybox-group' => "gallery_#{index}", :title => "Tytuł: #{photo.title}<br> Autor zdjęcia: #{photo.description}" ) %>
        <%= link_to( image_tag(photo.photo.small.url, :alt => photo.title, :title => photo.title), front_gallery_url(gallery) ) %>
      <% end %>
      <%= link_to "Zobacz więcej »", front_gallery_url(gallery), :style => "float:right;" %>
    </p>
  </div>
<% end %>