<h1 class="gallery">
  <i></i>
  Galeria
</h1>

<% @galleries.each_with_index do |gallery, index| %>
  <h2>
    <%= gallery.name %>
  </h2>

  <div class="gallery">
    <p>
      <% gallery.photos.each do |photo| %>
        <%= link_to( image_tag(photo.photo.small.url, :alt => photo.title, :title => photo.title), photo.photo.url, :class => 'fancybox', 'data-fancybox-group' => "gallery_#{index}", :title => "Autor zdjęcia: #{photo.description}" ) %>
      <% end %>
    </p>
  </div>
<% end %>