<h1 class="gallery">
  <i></i>
  Video
</h1>

<% @videos.each do |video| %>
  <h2>
    <%= video.title %>
  </h2>
  <p>
    <%= raw video.fileurl %>
  </p>
  <div>
    <%= raw video.description %>
  </div>
<% end %>
