<h1 class="gallery">
  <i></i>
  Video
</h1>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
</p>

<% @videos.each do |video| %>
  <h2>
    <%= video.title %>
  </h2>
  <p>
    <%= raw video.fileurl %>
  </p>
<% end %>
